<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.AttachClazzMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.AttachClazz">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        student_id,
        clazz_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="attachClazz.id">
        INSERT INTO attach_clazz (id, student_id, clazz_id)
        VALUES (#{attachClazz.id,jdbcType=VARCHAR},
                #{attachClazz.studentId,jdbcType=VARCHAR},
                #{attachClazz.clazzId,jdbcType=VARCHAR})
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="attachClazz.id">
        INSERT INTO attach_clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attachClazz.id!=null">id,</if>
            <if test="attachClazz.studentId!=null">student_id,</if>
            <if test="attachClazz.clazzId!=null">clazz_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attachClazz.id!=null">#{attachClazz.id,jdbcType=VARCHAR},
            </if>
            <if test="attachClazz.studentId!=null">#{attachClazz.studentId,jdbcType=VARCHAR},
            </if>
            <if test="attachClazz.clazzId!=null">#{attachClazz.clazzId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO attach_clazz (
        id,
        student_id,
        clazz_id
        )VALUES
        <foreach collection="attachClazzs" item="attachClazz" index="index" separator=",">
            (
            #{attachClazz.id,jdbcType=VARCHAR},
            #{attachClazz.studentId,jdbcType=VARCHAR},
            #{attachClazz.clazzId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE attach_clazz
        <set>
            <if test="attachClazz.studentId != null">student_id= #{attachClazz.studentId,jdbcType=VARCHAR},</if>
            <if test="attachClazz.clazzId != null">clazz_id= #{attachClazz.clazzId,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{attachClazz.id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="findByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attach_clazz
        where student_id=#{studentId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="countByStudentIdAndClazzId" resultType="java.lang.Integer">
        select count(1)
        from attach_clazz
        where student_id = #{studentId,jdbcType=VARCHAR}
          and clazz_id = #{clazzId,jdbcType=VARCHAR}</select>

</mapper>

