<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.AttendClazzMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.AttendClazz">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
        <result column="team_id" property="teamId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        student_id,
        clazz_id,
        team_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="attendClazz.id">
        <selectKey order="BEFORE" resultType="string" keyProperty="attendClazz.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO attend_clazz (
        id,
        student_id,
        clazz_id,
        team_id
        ) VALUES (
        #{attendClazz.id,jdbcType=VARCHAR},
        #{attendClazz.studentId,jdbcType=VARCHAR},
        #{attendClazz.clazzId,jdbcType=VARCHAR},
        #{attendClazz.teamId,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="attendClazz.id">
        <selectKey order="BEFORE" resultType="string" keyProperty="attendClazz.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO attend_clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attendClazz.id!=null">id,</if>
            <if test="attendClazz.studentId!=null">student_id,</if>
            <if test="attendClazz.clazzId!=null">clazz_id,</if>
            <if test="attendClazz.teamId!=null">team_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attendClazz.id!=null">#{attendClazz.id,jdbcType=VARCHAR},
            </if>
            <if test="attendClazz.studentId!=null">#{attendClazz.studentId,jdbcType=VARCHAR},
            </if>
            <if test="attendClazz.clazzId!=null">#{attendClazz.clazzId,jdbcType=VARCHAR},
            </if>
            <if test="attendClazz.teamId!=null">#{attendClazz.teamId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO attend_clazz (
        id,
        student_id,
        clazz_id,
        team_id
        )VALUES
        <foreach collection="attendClazzs" item="attendClazz" index="index" separator=",">
            (
            #{attendClazz.id,jdbcType=VARCHAR},
            #{attendClazz.studentId,jdbcType=VARCHAR},
            #{attendClazz.clazzId,jdbcType=VARCHAR},
            #{attendClazz.teamId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE attend_clazz
        <set>
            <if test="attendClazz.studentId != null">student_id= #{attendClazz.studentId,jdbcType=VARCHAR},</if>
            <if test="attendClazz.clazzId != null">clazz_id= #{attendClazz.clazzId,jdbcType=VARCHAR},</if>
            <if test="attendClazz.teamId != null">team_id= #{attendClazz.teamId,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{attendClazz.id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-11-25-->
    <select id="countByStudentIdAndClazzId" resultType="java.lang.Integer">
        select count(1)
        from attend_clazz
        where student_id = #{studentId,jdbcType=VARCHAR}
          and clazz_id = #{clazzId,jdbcType=VARCHAR}</select>

    <!--auto generated by codehelper on 2018-11-26-->
    <update id="updateTeamIdByStudentIdAndClazzId">
        update attend_clazz
        set team_id = #{updatedTeamId,jdbcType=VARCHAR}
        where student_id = #{studentId,jdbcType=VARCHAR}
          and clazz_id = #{clazzId,jdbcType=VARCHAR}</update>

    <!--auto generated by codehelper on 2018-11-26-->
    <select id="findByStudentIdAndClazzId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attend_clazz
        where student_id=#{studentId,jdbcType=VARCHAR} and clazz_id=#{clazzId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-26-->
    <select id="countByTeamId" resultType="java.lang.Integer">
        select count(1)
        from attend_clazz
        where team_id = #{teamId,jdbcType=VARCHAR}</select>

    <!--auto generated by codehelper on 2018-11-27-->
    <select id="countByStudentIdAndClazzIdAndTeamId" resultType="java.lang.Integer">
        select count(1)
        from attend_clazz
        where student_id = #{studentId,jdbcType=VARCHAR}
          and clazz_id = #{clazzId,jdbcType=VARCHAR}
          and team_id = #{teamId,jdbcType=VARCHAR}</select>

    <!--auto generated by codehelper on 2018-11-27-->
    <select id="existByStudentIdAndTeamId" resultType="java.lang.Boolean">
        select count(1) > 0
        from attend_clazz
        where student_id = #{studentId,jdbcType=VARCHAR}
          and team_id = #{teamId,jdbcType=VARCHAR}</select>
    <select id="judgeStudentInClazz" resultType="java.lang.Boolean">
        select count(1) > 0
        from attend_clazz
        where student_id = #{studentId}
          and clazz_id = #{clazzId}
    </select>
</mapper>

