<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.ClazzEnvironmentMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.ClazzEnvironment">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        clazz_id,
        time,
        place
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="clazzEnvironment.id">
        INSERT INTO clazz_environment (
            id,
            clazz_id,
            time,
            place
        ) VALUES (
            #{clazzEnvironment.id,jdbcType=VARCHAR},
            #{clazzEnvironment.clazzId,jdbcType=VARCHAR},
            #{clazzEnvironment.time,jdbcType=VARCHAR},
            #{clazzEnvironment.place,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="clazzEnvironment.id">
        INSERT INTO clazz_environment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazzEnvironment.id!=null"> id,</if>
            <if test="clazzEnvironment.clazzId!=null"> clazz_id,</if>
            <if test="clazzEnvironment.time!=null"> time,</if>
            <if test="clazzEnvironment.place!=null"> place,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazzEnvironment.id!=null">#{clazzEnvironment.id,jdbcType=VARCHAR},
            </if>
            <if test="clazzEnvironment.clazzId!=null">#{clazzEnvironment.clazzId,jdbcType=VARCHAR},
            </if>
            <if test="clazzEnvironment.time!=null">#{clazzEnvironment.time,jdbcType=VARCHAR},
            </if>
            <if test="clazzEnvironment.place!=null">#{clazzEnvironment.place,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO clazz_environment (
            id,
            clazz_id,
            time,
            place
        )VALUES
        <foreach collection="clazzEnvironments" item="clazzEnvironment" index="index" separator=",">
            (
            #{clazzEnvironment.id,jdbcType=VARCHAR},
            #{clazzEnvironment.clazzId,jdbcType=VARCHAR},
            #{clazzEnvironment.time,jdbcType=VARCHAR},
            #{clazzEnvironment.place,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE clazz_environment
        <set>
            <if test="clazzEnvironment.clazzId != null"> clazz_id= #{clazzEnvironment.clazzId,jdbcType=VARCHAR},</if>
            <if test="clazzEnvironment.time != null"> time= #{clazzEnvironment.time,jdbcType=VARCHAR},</if>
            <if test="clazzEnvironment.place != null"> place= #{clazzEnvironment.place,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{clazzEnvironment.id,jdbcType=VARCHAR}
    </update>

<!--auto generated by codehelper on 2018-11-24-->
	<select id="findByClazzId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_environment
        where clazz_id=#{clazzId,jdbcType=VARCHAR}
    </select>
</mapper>

