<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.ClazzMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.Clazz">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="student_count" property="studentCount" jdbcType="INTEGER"/>
        <association property="clazzSetting" column="id" select="cn.novedu.mapper.ClazzSettingMapper.findByClazzId"/>
        <association property="course" column="course_id" select="cn.novedu.mapper.CourseMapper.findById"/>
        <collection property="clazzEnvironments" column="id"
                    select="cn.novedu.mapper.ClazzEnvironmentMapper.findByClazzId"/>
        <collection property="teachers" column="id" select="cn.novedu.mapper.TeacherInfoMapper.findByClazzId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        code,
        student_count,
        course_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="clazz.id">
        <selectKey keyProperty="clazz.id" order="BEFORE" resultType="string">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO clazz (id, code, student_count, course_id)
        VALUES (#{clazz.id,jdbcType=VARCHAR},
        #{clazz.code,jdbcType=VARCHAR},
        #{clazz.studentCount,jdbcType=INTEGER},
        #{clazz.course.id,jdbcType=VARCHAR})
    </insert>

    <!--auto generated Code-->
    <!--need to be rewritten-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="clazz.id">
        <selectKey keyProperty="clazz.id" order="BEFORE" resultType="string">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazz.id!=null">id,</if>
            <if test="clazz.code!=null">code,</if>
            <if test="clazz.studentCount!=null">student_count,</if>
            <if test="clazz.course.id!=null">course_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazz.id!=null">#{clazz.id,jdbcType=VARCHAR},
            </if>
            <if test="clazz.code!=null">#{clazz.code,jdbcType=VARCHAR},
            </if>
            <if test="clazz.studentCount!=null">#{clazz.studentCount,jdbcType=INTEGER},
            </if>
            <if test="clazz.course.id!=null">#{clazz.course.id},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO clazz (
        id,
        code,
        student_count,
        course_id
        )VALUES
        <foreach collection="clazzs" item="clazz" index="index" separator=",">
            (
            #{clazz.id,jdbcType=VARCHAR},
            #{clazz.code,jdbcType=VARCHAR},
            #{clazz.studentCount,jdbcType=INTEGER},
            #{clazz.course.id,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE clazz
        <set>
            <if test="clazz.code != null">code= #{clazz.code,jdbcType=VARCHAR},</if>
            <if test="clazz.studentCount != null">student_count= #{clazz.studentCount,jdbcType=INTEGER},</if>
            <if test="clazz.course != null">course_id=#{clazz.course.id,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{clazz.id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz
        where id=#{id,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz
    </select>
    <select id="findByStudentId" resultMap="BaseResultMap">
        select c.id, code, student_count, course_id
        from clazz c
                 inner join attend_clazz a on c.id = a.clazz_id
        where a.student_id = #{studentId}
    </select>
    <select id="findByTeacherId" resultMap="BaseResultMap">
        select c.id, code, student_count, course_id
        from clazz c
                 inner join teach_clazz tc on c.id = tc.clazz_id
        where tc.teacher_id = #{teacherId}
    </select>
    <select id="findByClazzIdAndStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz c inner join attend_clazz a on c.id = a.clazz_id
        where a.student_id=#{studentId} and c.id=#{clazzId}
    </select>
    <select id="findByClazzIdAndTeacherId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz c inner join teach_clazz tc on c.id = tc.clazz_id
        where tc.teacher_id=#{teacherId} and c.id=#{clazzId}
    </select>

<!--auto generated by codehelper on 2018-11-26-->
	<select id="countById" resultType="java.lang.Integer">
        select count(1)
        from clazz
        where id = #{id,jdbcType=VARCHAR}</select>

</mapper>

