<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.ClazzSettingMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.ClazzSetting">
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
        <result column="team_allowed" property="teamAllowed" jdbcType="TINYINT"/>
        <result column="max_team_number_count" property="maxTeamNumberCount" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        clazz_id,
        team_allowed,
        max_team_number_count
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="clazzSetting.clazzId">
        INSERT INTO clazz_setting (
            clazz_id,
            team_allowed,
            max_team_number_count
        ) VALUES (
            #{clazzSetting.clazzId,jdbcType=VARCHAR},
            #{clazzSetting.teamAllowed,jdbcType=TINYINT},
            #{clazzSetting.maxTeamNumberCount,jdbcType=INTEGER}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="clazzSetting.clazzId">
        INSERT INTO clazz_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazzSetting.clazzId!=null"> clazz_id,</if>
            <if test="clazzSetting.teamAllowed!=null"> team_allowed,</if>
            <if test="clazzSetting.maxTeamNumberCount!=null"> max_team_number_count,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clazzSetting.clazzId!=null">#{clazzSetting.clazzId,jdbcType=VARCHAR},
            </if>
            <if test="clazzSetting.teamAllowed!=null">#{clazzSetting.teamAllowed,jdbcType=TINYINT},
            </if>
            <if test="clazzSetting.maxTeamNumberCount!=null">#{clazzSetting.maxTeamNumberCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO clazz_setting (
            clazz_id,
            team_allowed,
            max_team_number_count
        )VALUES
        <foreach collection="clazzSettings" item="clazzSetting" index="index" separator=",">
            (
            #{clazzSetting.clazzId,jdbcType=VARCHAR},
            #{clazzSetting.teamAllowed,jdbcType=TINYINT},
            #{clazzSetting.maxTeamNumberCount,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE clazz_setting
        <set>
            <if test="clazzSetting.teamAllowed != null"> team_allowed= #{clazzSetting.teamAllowed,jdbcType=TINYINT},</if>
            <if test="clazzSetting.maxTeamNumberCount != null"> max_team_number_count= #{clazzSetting.maxTeamNumberCount,jdbcType=INTEGER}</if>
        </set>
        WHERE clazz_id = #{clazzSetting.clazzId,jdbcType=VARCHAR}
    </update>

<!--auto generated by codehelper on 2018-11-24-->
	<select id="findByClazzId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_setting
        where clazz_id=#{clazzId,jdbcType=VARCHAR}
    </select>
</mapper>

