<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.ClazzResourceMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.ClazzResource">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="visible" property="visible" jdbcType="TINYINT"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <association property="fileInfo" column="file_id" select="cn.novedu.mapper.FileInfoMapper.findById"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        clazz_id,
        name,
        visible,
        detail,
        file_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="clazzResource.id">
        <selectKey resultType="string" order="BEFORE" keyProperty="clazzResource.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO clazz_resource (id,
        clazz_id,
        file_id,
        name,
        visible,
        detail)
        VALUES (#{clazzResource.id,jdbcType=VARCHAR},
        #{clazzResource.clazzId,jdbcType=VARCHAR},
        #{clazzResource.fileInfo.id,jdbcType=VARCHAR},
        #{clazzResource.name,jdbcType=VARCHAR},
        #{clazzResource.visible,jdbcType=TINYINT},
        #{clazzResource.detail,jdbcType=VARCHAR})
    </insert>

    <!--auto generated by codehelper on 2018-12-10-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from clazz_resource
        where id=#{id,jdbcType=VARCHAR}
    </select>
</mapper>

