<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.HomeworkMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.Homework">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="notice" property="notice" jdbcType="VARCHAR"/>
        <result column="homework_state" property="homeworkState" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="active_time" property="activeTime" jdbcType="TIMESTAMP"/>
        <result column="deadline" property="deadline" jdbcType="TIMESTAMP"/>
        <association property="homeworkSetting" column="id"
                     select="cn.novedu.mapper.HomeworkSettingMapper.findByHomeworkId"/>
        <collection property="attachmentList" column="id"
                    select="cn.novedu.mapper.HomeworkAttachmentMapper.findByHomeworkId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        clazz_id,
        title,
        content,
        notice,
        homework_state,
        create_time,
        active_time,
        deadline
    </sql>


    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="homework.id">
        <selectKey resultType="string" order="BEFORE" keyProperty="homework.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO homework
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="homework.id!=null">id,</if>
            <if test="homework.clazzId!=null">clazz_id,</if>
            <if test="homework.title!=null">title,</if>
            <if test="homework.content!=null">content,</if>
            <if test="homework.notice!=null">notice,</if>
            <if test="homework.homeworkState!=null">homework_state,</if>
            <if test="homework.createTime!=null">create_time,</if>
            <if test="homework.activeTime!=null">active_time,</if>
            <if test="homework.deadline!=null">deadline,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="homework.id!=null">#{homework.id,jdbcType=VARCHAR},
            </if>
            <if test="homework.clazzId!=null">#{homework.clazzId,jdbcType=VARCHAR},
            </if>
            <if test="homework.title!=null">#{homework.title,jdbcType=VARCHAR},
            </if>
            <if test="homework.content!=null">#{homework.content,jdbcType=VARCHAR},
            </if>
            <if test="homework.notice!=null">#{homework.notice,jdbcType=VARCHAR},
            </if>
            <if test="homework.homeworkState!=null">#{homework.homeworkState,jdbcType=VARCHAR},
            </if>
            <if test="homework.createTime!=null">#{homework.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="homework.activeTime!=null">#{homework.activeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="homework.deadline!=null">#{homework.deadline,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE homework
        <set>
            <if test="homework.title != null">title= #{homework.title,jdbcType=VARCHAR},</if>
            <if test="homework.content != null">content= #{homework.content,jdbcType=VARCHAR},</if>
            <if test="homework.notice != null">notice= #{homework.notice,jdbcType=VARCHAR},</if>
            <if test="homework.activeTime != null">active_time= #{homework.activeTime,jdbcType=TIMESTAMP},</if>
            <if test="homework.deadline != null">deadline= #{homework.deadline,jdbcType=TIMESTAMP},</if>
            <if test="homework.homeworkState != null">homework_state= #{homework.homeworkState,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{homeworkId,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-12-13-->
    <select id="findByClazzId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from homework
        where clazz_id=#{clazzId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-12-13-->
    <select id="findByClazzIdAndHomeworkState" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from homework
        where clazz_id=#{clazzId,jdbcType=VARCHAR} and homework_state=#{homeworkState,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-12-13-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from homework
        where id=#{id,jdbcType=VARCHAR}
    </select>
</mapper>

