<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.HomeworkSettingMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.HomeworkSetting">
        <result column="homework_id" property="homeworkId" jdbcType="VARCHAR"/>
        <result column="coverable" property="coverable" jdbcType="TINYINT"/>
        <result column="overdueable" property="overdueable" jdbcType="TINYINT"/>
        <result column="personal" property="personal" jdbcType="TINYINT"/>
        <result column="allow_team_member_submit" property="allowTeamMemberSubmit" jdbcType="TINYINT"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        homework_id,
        coverable,
        overdueable,
        personal,
        allow_team_member_submit
    </sql>


    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="homeworkSetting.homeworkId">
        INSERT INTO homework_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="homeworkSetting.homeworkId!=null">homework_id,</if>
            <if test="homeworkSetting.coverable!=null">coverable,</if>
            <if test="homeworkSetting.overdueable!=null">overdueable,</if>
            <if test="homeworkSetting.personal!=null">personal,</if>
            <if test="homeworkSetting.allowTeamMemberSubmit!=null">allow_team_member_submit,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="homeworkSetting.homeworkId!=null">#{homeworkSetting.homeworkId,jdbcType=VARCHAR},
            </if>
            <if test="homeworkSetting.coverable!=null">#{homeworkSetting.coverable,jdbcType=TINYINT},
            </if>
            <if test="homeworkSetting.overdueable!=null">#{homeworkSetting.overdueable,jdbcType=TINYINT},
            </if>
            <if test="homeworkSetting.personal!=null">#{homeworkSetting.personal,jdbcType=TINYINT},
            </if>
            <if test="homeworkSetting.allowTeamMemberSubmit!=null">
                #{homeworkSetting.allowTeamMemberSubmit,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>


    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE homework_setting
        <set>
            <if test="homeworkSetting.coverable != null">coverable= #{homeworkSetting.coverable,jdbcType=TINYINT},</if>
            <if test="homeworkSetting.overdueable != null">overdueable=
                #{homeworkSetting.overdueable,jdbcType=TINYINT},
            </if>
            <if test="homeworkSetting.personal != null">personal= #{homeworkSetting.personal,jdbcType=TINYINT},</if>
            <if test="homeworkSetting.allowTeamMemberSubmit != null">allow_team_member_submit=
                #{homeworkSetting.allowTeamMemberSubmit,jdbcType=TINYINT}
            </if>
        </set>
        WHERE homework_id = #{homeworkSetting.homeworkId,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-12-13-->
    <select id="findByHomeworkId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from homework_setting
        where homework_id=#{homeworkId,jdbcType=VARCHAR}
    </select>
</mapper>

