<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.PostSettingMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.PostSetting">
        <result column="post_id" property="postId" jdbcType="VARCHAR"/>
        <result column="post_permission" property="postPermission" jdbcType="VARCHAR"/>
        <result column="team_id" property="teamId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        post_id,
        post_permission,
        team_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="postSetting.postId">
        INSERT INTO post_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            post_id,
            post_permission,
            <if test="postSetting.teamId!=null">team_id</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{postSetting.postId} ,
            #{postSetting.postPermission} ,
            <if test="postSetting.teamId != null">#{postSetting.teamId}</if>
        </trim>
    </insert>


    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE post_setting
        <set>
            <if test="postSetting.postPermission != null">post_permission=
                #{postSetting.postPermission,jdbcType=VARCHAR},
            </if>
            <if test="postSetting.teamId != null">team_id= #{postSetting.teamId,jdbcType=VARCHAR}</if>
        </set>
        WHERE post_id = #{postSetting.postId,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-11-27-->
    <select id="findByPostId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post_setting
        where post_id=#{postId,jdbcType=VARCHAR}
    </select>
</mapper>

