<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.ReplyCommentMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.ReplyComment">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="reply_id" property="replyId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP"/>
        <association property="userInfo" column="user_id" jdbcType="VARCHAR"
                     select="cn.novedu.mapper.UserMapper.findUserInfoById"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        reply_id,
        content,
        comment_time,
        user_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="replyComment.id">
        <selectKey keyProperty="replyComment.id" order="BEFORE" resultType="string">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO reply_comment (id, reply_id, content,user_id)
        VALUES (#{replyComment.id,jdbcType=VARCHAR},
        #{replyComment.replyId,jdbcType=VARCHAR},
        #{replyComment.content,jdbcType=VARCHAR},
        #{replyComment.userInfo.id,jdbcType=VARCHAR} )
    </insert>

    <!--auto generated by codehelper on 2018-11-27-->
    <select id="findByReplyId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply_comment
        where reply_id=#{replyId,jdbcType=VARCHAR}
    </select>
    <select id="findByReplyIdWithPaging" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply_comment
        where reply_id=#{replyId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-27-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply_comment
        where id=#{id,jdbcType=VARCHAR}
    </select>
    <select id="findByReplyIdWithDefaultLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reply_comment
        where reply_id=#{replyId,jdbcType=VARCHAR}
        order by comment_time asc
        limit 10
    </select>
</mapper>

