<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.SysMapper">
    <select id="existColumn" resultType="java.lang.Boolean">
        select count(1) > 0
        from information_schema.COLUMNS
        where COLUMN_NAME = #{columnName}
          and TABLE_NAME = #{tableName}
    </select>
</mapper>