<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.TeachClazzMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.TeachClazz">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="teacher_id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="clazz_id" property="clazzId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        teacher_id,
        clazz_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="teachClazz.id">
        INSERT INTO teach_clazz (
            id,
            teacher_id,
            clazz_id
        ) VALUES (
            #{teachClazz.id,jdbcType=VARCHAR},
            #{teachClazz.teacherId,jdbcType=VARCHAR},
            #{teachClazz.clazzId,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="teachClazz.id">
        INSERT INTO teach_clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teachClazz.id!=null"> id,</if>
            <if test="teachClazz.teacherId!=null"> teacher_id,</if>
            <if test="teachClazz.clazzId!=null"> clazz_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teachClazz.id!=null">#{teachClazz.id,jdbcType=VARCHAR},
            </if>
            <if test="teachClazz.teacherId!=null">#{teachClazz.teacherId,jdbcType=VARCHAR},
            </if>
            <if test="teachClazz.clazzId!=null">#{teachClazz.clazzId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO teach_clazz (
            id,
            teacher_id,
            clazz_id
        )VALUES
        <foreach collection="teachClazzs" item="teachClazz" index="index" separator=",">
            (
            #{teachClazz.id,jdbcType=VARCHAR},
            #{teachClazz.teacherId,jdbcType=VARCHAR},
            #{teachClazz.clazzId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE teach_clazz
        <set>
            <if test="teachClazz.teacherId != null"> teacher_id= #{teachClazz.teacherId,jdbcType=VARCHAR},</if>
            <if test="teachClazz.clazzId != null"> clazz_id= #{teachClazz.clazzId,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{teachClazz.id,jdbcType=VARCHAR}
    </update>

<!--auto generated by codehelper on 2018-11-24-->
	<select id="findByClazzId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teach_clazz
        where clazz_id=#{clazzId,jdbcType=VARCHAR}
    </select>

<!--auto generated by codehelper on 2018-11-24-->
	<select id="countByTeacherIdAndClazzId" resultType="java.lang.Integer">
        select count(1)
        from teach_clazz
        where teacher_id = #{teacherId,jdbcType=VARCHAR}
          and clazz_id = #{clazzId,jdbcType=VARCHAR}</select>
</mapper>

