<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.TeamRequestMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.TeamRequest">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="team_id" property="teamId" jdbcType="VARCHAR"/>
        <result column="team_request_state" property="teamRequestState" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        student_id,
        team_id,
        team_request_state,
        create_time,
        handle_time
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="teamRequest.id">
        <selectKey resultType="string" keyProperty="teamRequest.id" order="BEFORE">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO team_request (id,student_id, team_id)
        VALUES (
        #{teamRequest.id,jdbcType=VARCHAR},
        #{teamRequest.studentId,jdbcType=VARCHAR},
        #{teamRequest.teamId,jdbcType=VARCHAR})
    </insert>

    <!--auto generated by codehelper on 2018-11-26-->
    <select id="findByTeamId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from team_request
        where team_id=#{teamId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-26-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from team_request
        where id=#{id,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-26-->
    <update id="updateTeamRequestStateById">
        update team_request
        set team_request_state = #{updatedTeamRequestState,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}</update>

<!--auto generated by codehelper on 2018-11-26-->
	<select id="countByStudentIdAndTeamIdAndTeamRequestState" resultType="java.lang.Integer">
        select count(1)
        from team_request
        where student_id = #{studentId,jdbcType=VARCHAR}
          and team_id = #{teamId,jdbcType=VARCHAR}
          and team_request_state = #{teamRequestState,jdbcType=VARCHAR}</select>


</mapper>

