<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.novedu.mapper.UserMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="cn.novedu.bean.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        username,
        name,
        password,
        user_type
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="string" keyProperty="user.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO user (id, username, name, password, user_type)
        VALUES (#{user.id,jdbcType=VARCHAR},
        #{user.username,jdbcType=VARCHAR},
        #{user.name,jdbcType=VARCHAR},
        #{user.password,jdbcType=VARCHAR},
        #{user.userType,jdbcType=VARCHAR})
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="user.id">
        <selectKey order="BEFORE" resultType="string" keyProperty="user.id">
            select replace(uuid(),'-','') from dual;
        </selectKey>
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null">id,</if>
            <if test="user.username!=null">username,</if>
            <if test="user.name!=null">name,</if>
            <if test="user.password!=null">password,</if>
            <if test="user.userType!=null">user_type,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id!=null">#{user.id,jdbcType=VARCHAR},
            </if>
            <if test="user.username!=null">#{user.username,jdbcType=VARCHAR},
            </if>
            <if test="user.name!=null">#{user.name,jdbcType=VARCHAR},
            </if>
            <if test="user.password!=null">#{user.password,jdbcType=VARCHAR},
            </if>
            <if test="user.userType!=null">#{user.userType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE user
        <set>
            <if test="user.username != null">username= #{user.username,jdbcType=VARCHAR},</if>
            <if test="user.name != null">name= #{user.name,jdbcType=VARCHAR},</if>
            <if test="user.password != null">password= #{user.password,jdbcType=VARCHAR},</if>
            <if test="user.userType != null">user_type= #{user.userType,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{user.id,jdbcType=VARCHAR}
    </update>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user (
        id,
        username,
        name,
        password,
        user_type
        )VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (
            #{user.id,jdbcType=VARCHAR},
            #{user.username,jdbcType=VARCHAR},
            #{user.name,jdbcType=VARCHAR},
            #{user.password,jdbcType=VARCHAR},
            #{user.userType,jdbcType=VARCHAR}
            )

        </foreach>
    </insert>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="findByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username=#{username,jdbcType=VARCHAR}
    </select>

    <!--auto generated by codehelper on 2018-11-24-->
    <select id="findUserTypeById" resultType="cn.novedu.constant.UserType">
        select user_type
        from user
        where id = #{id,jdbcType=VARCHAR}</select>
</mapper>

