<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="example" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="mysqlpasswd" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="example" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="mysqlpasswd" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genJavaMapperPath" value="$PROJECT_DIR$/src/main/java/cn/novedu/mapper" />
        <option name="genMapperXmlPath" value="$PROJECT_DIR$/src/main/resources/cn/novedu/mapper" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/resources/sql" />
        <option name="javaToCrudShouldGenerateService" value="false" />
        <option name="javaToCrudShouldGenerateServiceInterface" value="false" />
      </ProjectProfile>
    </option>
  </component>
</project>